body {
  background-image: url("images/darkspices.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.login-form {
  margin-top: 15%;
}

.form-group {
  color: #ccc;
}

.login-btn {
 color: #ccc;
 background-color: #87240b;
 border: 2px;
}

 .fixed-nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  height: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #87240b;
}

a {
  color: #ccc;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.recipe-details {
  margin-top:  60px;
  color: #ccc;
  margin-left: 20px;
}

.recipe-form {
  color: #ccc;
}

.recipe-list {
  margin-top: 70px;
}

.user-profile-div {
  margin-top: 70px;
  color: #CCC;
}

#avatar {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 100px;
}

#submit {
  width: 200px;
}

.card {
  margin-bottom: 20px;
  height: 400px;
  width: 220px;
  border-color: #87240b;
  background-color: rgba(12,12,12,0.8)
}

.card-title {
color: #CCC;
}

.delete-fav {
  text-align: center;
  background-color: #87240b;
  margin-left: 90%;
  border-radius: 50%;
}

 #review-div {
  border: 2px solid #87240b;
  width: 40%;
  float: center;
  padding: 5px;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  word-wrap: break-word;
}

.about {
  margin-top: 7%;
  color: #ccc;
  text-align: center;
}
.about-created p{
  font-size: 16px;
  margin: 0%;
}

footer {
  position: fixed;
  bottom: 0%;
  width: 100%;
  border-top:  1px solid #ccc;
}
.about-created h6 {
  padding-top: 10px;
  font-size: 14px;
}

.form-control {
  margin-bottom: 1%;
}

.added-ingredient-div {
  margin-top: 20px;
}
#dietery p{
  margin-bottom: 1px;
  font-size: 14px;
}

#fav-btn {
  width: 200px
}

.added {
  margin-top: 10px;
}

.delete {
  background-color: #87240b;
  margin-left: 90%;
  width: 10%;
  text-align: center;
}
.see-recipe {
  background-color: #87240b;
}

#submit-review {
  width: 200px;
  color: #CCC;
  background-color: #87240b;
  border: none;
}

.review-textarea {
  color: #CCC !important;
  background-color: rgba(12, 12, 12, 0.8) !important;
  border-color: #87240b;
}

.form-group {
  color: #CCC;
}

.edit-profile {
  margin-left: 40%;
  color: #CCC;
  margin-top: 10%;
}

#profile-bio {
  color: #CCC !important;
  background-color: rgba(12, 12, 12, 0.8) !important;
  border-color: #87240b;
}

.edit-btn {
width: 200px;
color: #CCC;
margin-top: 15px;
background-color: #87240b;
border: none;
}

#edit-bio {
}

.edit-profile h4 {
  margin: 20px;
}
 .dropdown-rating {
  width: 30px;
  color: #CCC;
  margin-top: 15px;
  background-color: #87240b;
  border: none;
}

#review-header {
  font-size: 30px;
}

#delete-review-btn {
  width: 10%;
  color: #CCC;
  margin-top: 15px;
  background-color: #87240b;
  border: none;
}

.fa-linkedin {
  padding-left: 10px;
  padding-right: 10px;
}
.fa-github {
  padding-left: 10px;
  padding-right: 10px;
}
